a {
    color: #0088CC;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    margin: 40px auto;
    width: 100%;
  }
  
  .card {
    background: #fff;
    box-shadow: 0 1px 2px rgba(51, 51, 51, 0.1);
    border-radius: 4px;
  }
  .card .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #F0F1F5;
  }
  .card h3 {
    display: inline;
    margin: 0;
    font-weight: 600;
  }
  .card .more {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    color: #445157;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
    border-radius: 4px;
    transition: all 0.2s ease;
  }
  .card .more i {
    margin-left: 5px;
    font-size: 16px;
  }
  .card .more:hover {
    background: #F0F1F5;
    opacity: 1;
    text-decoration: none;
  }
  .card .graph {
    padding: 20px;
  }
  .card .graph p {
    width: 100%;
    margin: 0;
    padding: 60px 0;
    text-align: center;
    background: #F0F1F5;
  }
  @media only screen and (max-width: 767px) {
    .more{
        display: none !important;
    }
  }